huggingface-hub
sentence_transformers
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain_openai
langchainhub
langdetect
langsmith
matplotlib
numpy
pandas
tiktoken
umap-learn
scikit-learn
pymilvus==2.4.4
milvus
pypdf
ipykernel
langchain-huggingface
nltk
pymilvus[model]
langchain-milvus
streamlit